*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    line-height: 1.5;
}

/* GRADIANTE */

.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index:-1
}

.layer-blur{
    height: 0;
    width: 3rem;
    position: absolute;
    top:20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/*estelização do container*/

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
  
    padding: 0 2rem;

}

/*estelização do header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem -5rem;
}

header h1{
    margin:0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display:flex;
    align-items: center;
    gap: 3rem;
   
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: rgb(175, 173, 173);
}

.btn-signing{
    background-color: rgb(155, 154, 154);
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.btn-signing:hover{
    background-color: rgb(179, 179, 179);
}

/*estelização do main e content*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width:40rem ;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem ;
    border-radius: 50px;
    background: linear-gradient(to right, #dd4ebe, #7f42a7 , #6600c5, #4b2464);
    background-size: 200%;
    animation: animationGradient  2.5s linear infinite;
    box-shadow: 0 0 15px white; 
}

@keyframes animationGradient{

    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;

}
.tag-box .tag:hover{
    color: rgb(172, 45, 172);
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgb(138, 130, 130);
}

.descricao{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: grey;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn-get-start{
text-decoration: none;
border:1px solid rgb(59, 59, 59);
padding: 1.5rem 1.2rem;
border-radius: 50px;
font-size: 1.2rem;
font-weight: 600;
letter-spacing: 0.1rem;
transition: background-color 0.3s ease;
}

.btn-get-start:hover{
    background-color: rgb(19, 17, 17);
}

.btn-main-signing{
background-color: lightgray;
text-decoration: none;
border:1px solid rgb(59, 59, 59);
padding: 0.6rem 2.5rem;
border-radius: 50px;
font-size: 1.2rem;
font-weight: 600;
letter-spacing: 0.1rem;
transition: background-color 0.3s ease;
}

.btn-main-signing:hover{
    background-color: rgb(238, 235, 235);
}